* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #f7f7f9;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --popin: 'Poppins', sans-serif;
  --robo: 'Roboto', sans-serif;
  --cret: 'Crete Round', serif;
}

.section {
  margin-bottom: 64px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* mobile view */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.nav-bar {
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #3c3a39;
}

.page--logo {
  display: flex;
  margin-left: 24px;
  width: 100px;
  height: 40px;
  align-items: center;
}

.page--logo a {
  font-family: var(--robo);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.nav--menu {
  margin-right: 36px;
}

.nav--menu > div {
  background-color: #fff;
  height: 3px;
  width: 21px;
  margin: 3px;
}

.nav-links {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  margin-left: 28px;
  transition: 0.3s;
}

.desk-top {
  display: none;
}

.nav-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(30, 78, 255, 0.6);
  backdrop-filter: blur(8px);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.nav-close {
  position: absolute;
  color: #fff;
  top: 1rem;
  right: 40px;
  cursor: pointer;
  font-size: 2rem;
}

.show {
  left: 0;
}

.nav-item {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url('./images/mobile_home_bg.png');
  background-repeat: no-repeat;
  background-position: 100% 115%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main_title {
  height: 124px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.abt_hero {
  height: 27px;
  font-family: var(--robo);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.description_text {
  height: 123px;
  font-family: var(--popin);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.socia_icons {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 21px;
}

.socia_icons-destop {
  display: none;
}

/* -----------------------------------works section mobile---------------------------------------------- */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  width: 100vw;
  gap: 80px;
  background-color: #fff;
  overflow-x: hidden;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: var(--cret);
  font-weight: 400;
  font-size: 25px;
  line-height: 52px;
  color: #1c1a19;
}

.work-title div {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  margin-left: 6vw;
}

.work1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 0 24px;
}

.background {
  width: 90vw;
  height: 300px;
  background-image: url("./images/portfolio1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.work1-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-subtitle {
  height: 36px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  color: #091e42;
}

.works-desk {
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.lang-list {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.lang-list li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

.work1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  color: #fff;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.work1 a:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work1 a:focus {
  background: #e05304;
  color: #f4f1f0;
}

.other-works {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
  position: relative;
  margin-top: 24px;
  padding-top: 84px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/portfolio4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
  width: 92vw;
}

.card-subtitle2 {
  height: 81px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 24px;
}

.card-text2 {
  height: 87px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
}

.lang-list2 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
}

.lang-list2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.prj-link {
  height: 48px;
  width: 100%;
  background: #ff6b00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.prj-link-a {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
}

/* -----------------------------------about section mobile---------------------------------------------- */
.about-me {
  display: flex;
  flex-direction: column;
  padding: 110px 24px;
  background: #1c1a19;
  background-image: url("./images/mobile_abt_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 22%;
}

.abt-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.abt-title2 {
  /* height: 79px; */
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 62px;

  /* line-height: 88px; */
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.abt-text2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
}

.resume:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.resume-a {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.resume:hover .resume-a {
  color: #f55800;
}

.underline {
  height: 0;
  width: 80vw;
  margin-top: 209px;
  margin-bottom: 137px;
  border: 1px solid #fff;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.lang-stack {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.lang-stack div {
  display: flex;
  gap: 12px;
}

.rectangle-disp {
  transform: rotate(-45deg);
}

.circle {
  border-radius: 50%;
}

.box {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.stack-title {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.stack-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: #fff;
}

.stack-list li {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px;
  background: #fff;
}

.form-text {
  height: 216px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 59px;
}

.form-input {
  width: 87vw;
  height: 48px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 24px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.separate_name {
  display: none;
}

.textarea {
  background: #fbf8f7;
  height: 114px;
}

.form-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.form-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.form-btn :focus {
  background: #e05304;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  background-color: #fff !important;
  border-top: 1px solid #dfe1e6;
  width: 100vw;
}

/* ----------------------------------------------------------------tablets view ---------------------------------------------------------------- */
@media (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }

  .nav-bar {
    width: 100vw;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    background: #3e3c3c;
  }

  .nav--menu {
    display: none;
  }

  .desk-top {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #fff;
    margin-right: 154px;
  }

  .desk-top a {
    height: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .desk-top img {
    width: 22px;
    height: 18px;
  }

  .page--logo {
    margin-left: 154px;
  }

  .page--logo a {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  /* .............................................................desktop home page..................................................... */
  .hero {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 6vw;
    width: 100%;
    height: calc(100vh - 241px);
    justify-items: flex-start;
    background-image: url('./images/Illustration-header@2x.png');
    background-position: 100% 0%;
    background-size: 450px;
  }

  .hero-text {
    width: 566px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .main_title {
    height: 160px;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .abt_hero {
    height: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .description_text {
    height: 123px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .socia_icons {
    display: none;
    flex-direction: column;
    margin-left: 36px;
  }

  .socia_icons-destop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 36px;
  }

  /* --------------------------------------------------------works section------------------------------------------------------------------------ */
  .work-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    color: #091e42;
  }

  .work-title div {
    width: 55vw;
  }

  .work-title h2 {
    font-family: var(--cret);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }

  .work1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
  }

  .background {
    width: 48vw;
    height: 448px;
    background-size: 100% 100%;
  }

  .work1-text {
    width: 33vw;
  }

  .works-desk {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    height: auto;
    margin-top: 12px;
  }

  .other-works {
    width: 43vw;
    height: auto;
    border: 1px solid rgb(247, 247, 247);
  }

  .other-works:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #212121;
  }

  .other-works .prj-link {
    display: none;
  }

  .other-works:hover .prj-link {
    display: flex;
    cursor: pointer;
  }

  .other-works:hover .card-subtitle2 {
    display: none;
    cursor: pointer;
  }

  .other-works:hover .card-text2 {
    display: none;
  }

  .other-works:hover .lang-list2 {
    display: none;
  }

  .about-me {
    width: 79vw;
    background-image: url('./images/illustration-about\ me-desktope.svg');
    background-position: 100% 25%;
    padding: 130px 10vw;
    background-size: 40%;
  }

  .abt-title2 {
    font-family: var(--cret);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .abt-text2 {
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .abt-text-container {
    width: 39vw;
  }

  .underline {
    margin-top: 139px;
    margin-bottom: 146px;
  }

  .stack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .lang-stack {
    align-items: flex-start;
    height: 320px;
  }

  .stack-list {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contact {
    flex-direction: row;
    padding: 130px 135px;
  }

  .form-text {
    display: flex;
    height: auto;
    justify-content: flex-start;
    font-size: 40px;
    text-align: left;
    line-height: 52px;
    color: #262626;
  }

  .form-item1 {
    display: flex;
    gap: 24px;
  }

  .form-input {
    width: 20vw;
    flex-direction: column;
    height: 35px;
  }

  .full_name {
    display: none;
  }

  .separate_name {
    display: flex;
  }

  .textarea {
    height: 100px;
  }

  .form-btn {
    height: 48px;
    background: #f55800;
  }

  .form-btn1 {
    justify-content: flex-start;
  }

  .form-width {
    width: 45vw;
  }

  footer {
    height: 71px;
  }

  .socia_icons1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* -----------------------------------------------section desktop---------------------------------------------- */

@media screen and (min-width: 1077px) {
  /* ................................desktop header-------------------------------------------------------------- */
  .nav-bar {
    width: 100vw;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    background: #3e3c3c;
  }

  .nav--menu {
    display: none;
  }

  .desk-top {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #fff;
    margin-right: 154px;
  }

  .desk-top a {
    height: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .desk-top img {
    width: 22px;
    height: 18px;
  }

  .page--logo {
    margin-left: 154px;
  }

  .page--logo a {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  /* .............................................................desktop home page..................................................... */
  .hero {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 6vw;
    width: 100%;
    height: calc(100vh - 241px);
    justify-items: flex-start;
    background-image: url('./images/Illustration-header@2x.png');
    background-position: 100% 0%;
    background-size: 450px;
  }

  .hero-text {
    width: 566px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .main_title {
    height: 160px;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .abt_hero {
    height: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .description_text {
    height: 123px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .socia_icons {
    flex-direction: column;
    margin-left: 36px;
  }

  /* --------------------------------------------------------works section------------------------------------------------------------------------ */
  .work-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    color: #091e42;
  }

  .work-title div {
    width: 55vw;
  }

  .work-title h2 {
    font-family: var(--cret);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }

  .work1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
  }

  .background {
    width: 48vw;
    height: 448px;
    background-size: 100% 100%;
  }

  .work1-text {
    width: 33vw;
  }

  .works-desk {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    height: auto;
    margin-top: 12px;
  }

  .card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }

  .other-works {
    width: 28vw;
    height: auto;
    border: 1px solid rgb(247, 247, 247);
  }

  .other-works:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #212121;
  }

  .other-works .prj-link {
    display: none;
  }

  .other-works:hover .prj-link {
    display: flex;
    cursor: pointer;
  }

  .other-works:hover .card-subtitle2 {
    display: none;
    cursor: pointer;
  }

  .other-works:hover .card-text2 {
    display: none;
  }

  .other-works:hover .lang-list2 {
    display: none;
  }

  .about-me {
    width: 79vw;
    background-image: url('./images/illustration-about\ me-desktope.svg');
    background-position: 100% 18%;
    background-size: 35%;
    padding: 130px 10vw;
  }

  .abt-title2 {
    font-family: var(--cret);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .abt-text2 {
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .abt-text-container {
    width: 39vw;
  }

  .underline {
    margin-top: 139px;
    margin-bottom: 146px;
  }

  .stack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .lang-stack {
    align-items: flex-start;
    height: 320px;
  }

  .stack-list {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contact {
    flex-direction: row;
    padding: 130px 135px;
  }

  .form-text {
    display: flex;
    height: auto;
    justify-content: flex-start;
    font-size: 40px;
    text-align: left;
    line-height: 52px;
    color: #262626;
  }

  .form-item1 {
    display: flex;
    gap: 24px;
  }

  .form-input {
    width: 20vw;
    flex-direction: column;
    height: 35px;
  }

  .full_name {
    display: none;
  }

  .separate_name {
    display: flex;
  }

  .textarea {
    height: 100px;
  }

  .form-btn {
    height: 48px;
    background: #f55800;
  }

  .form-btn1 {
    justify-content: flex-start;
  }

  .form-width {
    width: 45vw;
  }

  footer {
    height: 71px;
  }

  .socia_icons1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
