* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #f7f7f9;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --popin: 'Poppins', sans-serif;
  --robo: 'Roboto', sans-serif;
  --cret: 'Crete Round', serif;
}

.section {
  margin-bottom: 64px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* mobile view */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.nav-bar {
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #3c3a39;
}

.page--logo {
  display: flex;
  margin-left: 24px;
  width: 100px;
  height: 40px;
  align-items: center;
}

.page--logo a {
  font-family: var(--robo);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.nav--menu {
  margin-right: 36px;
}

.nav--menu > div {
  background-color: #fff;
  height: 3px;
  width: 21px;
  margin: 3px;
}

.nav-links {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  margin-left: 28px;
  transition: 0.3s;
}

.desk-top {
  display: none;
}

.nav-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(30, 78, 255, 0.6);
  backdrop-filter: blur(8px);
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.nav-close {
  position: absolute;
  color: #fff;
  top: 1rem;
  right: 40px;
  cursor: pointer;
  font-size: 2rem;
}

.show {
  left: 0;
}

.nav-item {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url('./images/mobile_home_bg.png');
  background-repeat: no-repeat;
  background-position: 100% 115%;
}

.main_title {
  height: 124px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.abt_hero {
  height: 27px;
  font-family: var(--robo);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.description_text {
  height: 123px;
  font-family: var(--popin);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.socia_icons {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 21px;
}

/* -----------------------------------works section mobile---------------------------------------------- */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  width: 100vw;
  gap: 80px;
  background-color: #fff;
  overflow-x: hidden;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: var(--cret);
  font-weight: 400;
  font-size: 25px;
  line-height: 52px;
  color: #1c1a19;
}

.work-title div {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.work1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px;
}

.background {
  height: 237px;
  background-image: url("./images/portfolio1.png");
  background-repeat: no-repeat;
}

.work-subtitle {
  height: 36px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  color: #091e42;
}

.works-desk {
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.lang-list {
  display: flex;
  gap: 12px;
}

.lang-list li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

.work1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  color: #fff;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.work1 a:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work1 a:focus {
  background: #e05304;
  color: #f4f1f0;
}

.other-works {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
  margin-top: 24px;
  padding-top: 84px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/portfolio4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.card-subtitle2 {
  height: 81px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 24px;
}

.card-text2 {
  height: 87px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
}

.lang-list2 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
}

.lang-list2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.prj-link {
  height: 48px;
  width: 100%;
  background: #ff6b00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.prj-link-a {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
}

/* -----------------------------------about section mobile---------------------------------------------- */
.about-me {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url("./images/mobile_abt_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 25%;
}

.abt-title2 {
  height: 79px;
  font-family: var(--cret);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.abt-text2 {
  height: 148px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
}

.resume-a {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.underline {
  height: 0;
  width: 80vw;
  margin-top: 209px;
  margin-bottom: 137px;
  border: 1px solid #fff;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.lang-stack {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.lang-stack div {
  display: flex;
  gap: 12px;
}

.rectangle-disp {
  transform: rotate(-45deg);
}

.circle {
  border-radius: 50%;
}

.box {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.stack-title {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.stack-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: #fff;
}

.stack-list li {
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px;
  background: #fff;
}

.form-text {
  height: 216px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 59px;
}

.form-input {
  width: 87vw;
  height: 48px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 24px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.textarea {
  background: #fbf8f7;
  height: 114px;
}

.form-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.form-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.form-btn :focus {
  background: #e05304;
  color: #fff;
}

